.input-QRCode {
    display: block;
    margin: 0 auto;
    margin-left: 0px;
    padding: 0.8em 1em;
    /* background-color: #ddd; */
    color: #333;
    border: 1px solid #bbb;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    width: 115px;
    height: 115px;
    border: 1px solid black;
    margin-top: -15px;
  }